# Python    cache_________________________________________________________________
__pycache__/
vocalize/__pycache__/

# PyCharm   cache_________________________________________________________________
../.idea

../venv/

vocalize/media/uploads/

main/secret_key.py

db.sqlite3