# Python    cache_________________________________________________________________
__pycache__/

# PyCharm   cache_________________________________________________________________
../.idea

venv/

media/uploads/

db.sqlite3

secret_key.py
