{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
       <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="#" class="header__logo">VOCALIZE</a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="{% url 'home' %}" class="header__link">Главная</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'calendar' %}" class="header__link">Календарь</a>
                        </li>
                        <li>
                            <a href="{% url 'add_lesson' %}" class="header__link">Добавить урок</a>
                        </li>
                        <li>
                            <a href="{% url 'customers' %}" class="header__link">Клиенты</a>
                        </li>
                        <li>
                            <a href="{% url 'loguot' %}" class="header__link">Выйти</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="header__link">Войти</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
       </header>
       <div class="content">
           <div class="container">
                <div class="content__text">
                    {% block content %}
                    {% endblock %}
                </div>
           </div>
       </div>
    </div>
    <script src="{% static 'main/js/main.css' %}"></script>
</body>
</html>