html{
    background-color: rgba(255, 222, 246, .5);
}

header h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

nav{
    font-size: 16pt;
    width: 150px;
    float: left;
}

nav a{
    display: block;
    margin: 10px 0px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(247, 121, 212);
}

section{
    margin-left: 170px;
}

.profile-customer{
    font-size: 20px;
    width: 200px;
    margin: 15px 0 15px 0;

    border-radius: 5px;
    padding: 20px;
}

.profile-customer:hover{
    width: 200px;
    margin: 15px 0 15px 0;

    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px rgb(247, 121, 212);
}

td{

    font-size: 18px;
    padding: 2px;
}

td:hover{

    text-shadow: 2px 2px 3px rgb(247, 121, 212);
    font-size: 18px;
    padding: 2px;

}

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-shadow: 2px 2px 3px rgb(247, 121, 212);
}